*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root{
    --ScissorsGradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
    --PaperGradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
    --RockGradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
    --LizardGradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
    --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
    
  
    
    --DarkText: hsl(229, 25%, 31%);
    --ScoreText: hsl(229, 64%, 46%);
    --HeaderOutline: hsl(217, 16%, 45%);
    
    
    
    --RadialGradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%)  ;
}
body{
    background-color: var(--HeaderOutline);
}
h1{
    color: brown;
}
.hidden{
    display: hidden;
    width:350px;
    height:auto;
    border-radius: 15px;
    background-color:rgba(248, 241, 241, 0.856) ;
display: none;
  margin:150px auto;
   /* margin: 20% ;*/
    padding: 20px ;
    line-height: 3.8rem;
}
.first-step-rules{
    position: relative;
}
 i{
    position: absolute;
   right:0px;
    top:10px;
    color: var(--HeaderOutline);
}
h1{
    color: var(--DarkText);
    
}

/* START OS STYLING THE SCREEN */
.screen-desk{
    width:360px;
    border: 1px solid white;
    padding:10px;
    border-radius: 10px;
    display: flex;
    justify-items:right;
}
.screen-desk .logo{
font-size: 200px; 
 justify-content: left;   
}
.screen-desk .score{
align-items: center;
justify-content: center;
display: flex;
  width:70px;
  height:60px;
  background-color: white;  
  color:var(--DarkText);
  border-radius: 10px;
 
}
.screen-desk .score span{
    display: block;
}

.traingle.screen-img::before{
content: "";
width: 50px;
height: 50px;
border-radius: 50%;
background-color: white;
display: block;

}
.for-rules{
width:90px;
border:1Px solid white;
border-radius: 5px;  
background-color: var(--DarkText);  
color: white;
padding:5px 5px;


}

